<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>
        <div class="container">
            <h1 class="mb">Сайт для общения</h1>
            <div class="nav">
                <a href="/login" class="btn">Войти</a>
                <a href="/register" class="btn">Регистрация</a>
            </div>
        </div>
        <div class="container" style="display: flex; gap: 8px; align-items: end">
            {% for i in users %}
                <a href="/profile/{{ i.username }}">
                    {% if i.avatar_url %}
                        <img src="{{ i.avatar_url }}" width="64">
                    {% endif %}
                    <h3>{{ i.username }}</h3>
                </a>
            {% endfor %}
        </div>
    </body>
</html>