<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
           <link rel="stylesheet" href="/static/settings.css">
    </head>
    <body>
        <form class="container" method="POST" enctype="multipart/form-data" action="/settings/profile">
            <h1>Профиль</h1>
            <div class="item">
                <label for="nickname"> Никнейм </label>
                <input type="text" id="nickname" name="nickname" value="{{ nickname }}">
            </div>
            <div class="item">
                <label for="email"> Email </label>
                <input type="email" id="email" name="email" value="{{email}}">
            </div>
            <div class="item">
                <label for="avatar"> Аватарка </label>
                <input type="file" id="avatar" name="avatar">
            </div>
            <div class="item">
                <label for="about"> О себе </label>
                <textarea id="about" name="about" rows="7">{{about}}</textarea>
            </div>
            <button type="submit"> Обновить </button>
        </form>
        <form class="container" method="POST" action="/settings/password">
            <h1>Безопасность</h1>
            <div class="item">
                <label for="password"> Пароль </label>
                <input type="password" id="password" name="password">
            </div>
            <div class="item">
                <label for="password_confirm"> Потвердить пароль </label>
                <input type="password" id="password_confirm" name="password_confirm">
            </div>
            <button type="submit"> Обновить </button>
        </form>
    </body>
</html>